/*

*/

body {
    line-height: 1;
}


/* Basic style */

.top_header {
    display: block;
    padding: 5px;
    margin: 5px;
}

.sub-title {
    position: relative;
    
}

.top-bar {
    float: right
}